<!-- Скрипты -->
<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<!-- <script src="assets/js/libs/slick.min.js"></script> -->
<!-- <script src="assets/js/libs/jquery.validate.min.js"></script> -->
<!-- <script src="assets/js/libs/jquery.maskedinput.min.js"></script> -->
<!-- <script src="assets/js/libs/wow.min.js"></script> -->       <!-- Скрипт для библ. анимации -->
<script src="assets/js/script.js"></script>